/*
    Variables
*/

:root {
    --design-unit: 4.3 !important;
}

/*
    Typography
*/

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../font/Segoe UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../font/Segoe UI Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../font/Segoe UI Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../font/Segoe UI Bold Italic.woff') format('woff');
}

/*
    Global
*/

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body {
    background-image: url('../img/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Segoe UI Regular', sans-serif;
}

/*
    Overlay
*/

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    z-index: 1001;
    text-align: center;
    position: fixed;
}

.overlay p {
    font-size: 18px;
    padding-top: 14px;
    font-weight: 500;
}

.overlay img {
    height: 48px;
    width: 48px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
}

.overlay fluent-button {
    margin-top: 14px;
}

/*
    Lockscreen
*/

.lockscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    position: fixed;
}

.lockscreen p {
    font-size: 18px;
    padding-top: 18px;
    font-weight: 500;
}

.lockscreen fluent-progress-ring {
    width: 100%;
}

/*
    Desktop
*/

.watermark {
    position: fixed;
    right: 8px;
    bottom: 52px;
    color: #fff;
    font-size: 14px;
    z-index: 10000;
    text-align: right;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.selection {
    position: absolute;
    border: 1px solid #3498db;
    background-color: rgba(52, 152, 219, 0.3);
    display: none;
    pointer-events: none;
    z-index: 100;
}

/*
    Taskbar
*/

fluent-menu-item {
    cursor: default !important;
    transition: all 0.06s ease-in-out;
}

.start {
    position: fixed;
    bottom: -200%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(24px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #191919;
    display: block;
    height: 670px;
    width: 642px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    z-index: 115;
}

.start.show {
    bottom: 58px;
}

.start .content {
    height: 544px;
    padding: 32px;
}

.start .content input {
    background-color: #fbfbfb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI Regular', sans-serif;
    border-radius: 24px;
    padding-left: 36px;
    width: 100%;
    height: 32px;
    transition: all 0.2s ease-in-out;
    background: url('../img/icons/SearchInverted.png') no-repeat scroll 7px 7px;
    background-size: 14px;
    background-position: left center;
    background-position-x: 14px;
    box-sizing: border-box;
}

.start .content input:focus {
    border: 2px solid #4c85ff;
    outline: none;
}

.start .content .pinned {
    padding: 32px 0;
    height: 310px;
}

.start .content .pinned .items {
    display: flex;
}

.start .content .pinned h1 {
    padding-left: 32px;
    font-size: 14px;
    padding-bottom: 18px;
    font-family: 'Segoe UI Bold', sans-serif;
    font-weight: normal;
    color: #303030;
}

.start .content .pinned .icon {
    margin-right: 2px;
    width: 94px;
    height: 78px;
    border-radius: 3px;
    display: grid;
    place-items: center;
    transition: all 0.1s ease-in-out;
    outline: none;
    margin-left: 3px;
}

.start .content .pinned .icon.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.start .content .pinned .icon img {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
}

.start .content .pinned .icon:hover {
    background-color: rgba(0, 0, 0, 0.05);
    outline: none;
}

.start .content .pinned .icon:active {
    background-color: rgba(0, 0, 0, 0.04);
    outline: none;
}

.start .content .pinned .icon:active img {
    transform: scale(0.85);
}

.start .content .pinned .icon p {
    font-size: 12px;
    height: 100%;
}

.start .content .recommended {
    padding: 32px;
    height: 310px;
}

.start .content .recommended h1 {
    font-size: 14px;
    font-family: 'Segoe UI Bold', sans-serif;
    font-weight: normal;
    color: #303030;
    padding-bottom: 18px;
}

.start .content .recommended p {
    font-size: 12px;
    color: #303030;
}

.start .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    padding: 0 64px;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.start .toolbar .user {
    padding-right: 6px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    height: 40px;
    transition: all 0.1s ease-in-out;
    border-radius: 3px;
    justify-content: center;
}

.start .toolbar .user:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.start .toolbar .user:active {
    background-color: rgba(0, 0, 0, 0.04);
}

.start .toolbar .user img {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.start .toolbar .user p {
    padding-left: 12px;
    font-size: 12px;
    color: #191919;
}

.start .toolbar .power {
    order: 2;
    transition: all 0.1s ease-in-out;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start .toolbar .power img {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    transition: all 0.08s ease-in-out;
}

.start .toolbar .power:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.start .toolbar .power:active {
    background-color: rgba(0, 0, 0, 0.04);
}

.widgets-pane {
    position: fixed;
    left: -100%;
    top: 12px;
    bottom: 58px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(24px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 48px 64px 0 64px;
    width: 600px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    z-index: 110
}

.widgets-pane.show {
    left: 12px;
}

.widgets-pane p {
    color: #303030;
    font-size: 24px;
}

.widgets-pane .grid {
    flex: 1;
    border-radius: 8px;
    width: 48%;
    margin-right: 12px;
    overflow: hidden;
}

.widgets-pane .grid .widget {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100px;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.taskbar {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    width: 100%;
    height: 46px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 120;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.widgets {
    justify-self: flex-start;
    position: absolute;
    left: 0;
    margin-left: 12px;
}

.taskbar .controls {
    display: flex;
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin-right: 12px;
}

.icon {
    margin-right: 2px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    outline: 0.5px solid rgba(0, 0, 0, 0);
    margin-right: 3px;
}

.icon.active {
    outline: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
}

.icon img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    transition: all 0.08s ease-in-out;
}

.icon:hover {
    outline: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
}

.icon:active {
    outline: 0.5px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.04);
}

.icon:active img {
    transform: scale(0.85);
}

#start-button:active img {
    transform: scale(0.85);
    filter: brightness(0.9);
}

.control-item {
    margin-right: 2px;
    margin-left: 2px;
    height: 40px;
    border-radius: 3px;
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    outline: 0.5px solid rgba(0, 0, 0, 0);
}

.control-item img {
    width: 16px;
    height: 16px;
}

.control-item:hover {
    outline: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
}

.control-item:active {
    outline: 0.5px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.04);
}

.control-item .text-container {
    color: #191919;
    font-size: 12px;
    margin-right: 6px;
    text-align: right;
}

.top-text,
.bottom-text {
    margin: 0;
}

#ethernet {
    margin-right: 8px;
}

#tray img {
    width: 12px !important;
    height: 12px !important;
}

#taskbar-menu {
    display: none;
    position: fixed;
    text-align: left;
    z-index: 200;
    transform: translateY(-72px);
    animation: fade 0.1s ease forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*
    Notifications
*/

.toast {
    position: fixed;
    right: -200%;
    bottom: 58px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    color: #191919;
    display: block;
    height: auto;
    width: 370px;
    border-radius: 8px;
    padding: 14px;
    transition: all 0.4s ease-in-out;
    z-index: 100;
}

.toast.show {
    right: 12px;
}

.toast .app {
    display: flex;
    align-content: center;
}

.toast .app img {
    height: 16px;
    width: 16px;
}

.toast .app p {
    display: inline-block;
    padding-left: 6px;
    font-size: 12px;
}

.toast .content {
    margin-top: 18px;
    margin-bottom: 4px;
}

.toast .content h1 {
    font-size: 14px;
    font-weight: 500;
}

.toast .content p {
    font-size: 13px;
    opacity: 0.8;
}

/*
    Application window
*/

.window {
    width: 60%;
    height: 60%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    z-index: 105;
    overflow: hidden;
    animation: scale 0.1s ease-in-out forwards;
}

.window .titlebar {
    height: 32px;
}

/*
    Settings application
*/

.settings-app {
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(24px);
    z-index: 105;
    position: relative;
}

.settings-app.show {
    display: flex;
    animation: scale 0.1s ease-in-out forwards;
}

.settings-app .titlebar {
    display: flex;
    align-items: center;
    height: 48px !important;
    font-size: 12px;
    padding-left: 8px;
}

.settings-app .titlebar .ms-Icon--Back {
    margin-right: 16px;
}

.settings-app .titlebar .icon {
    border-radius: 5px;
    display: grid;
    height: 16px;
    width: 16px;
    place-items: center;
    transition: all 0.1s ease-in-out;
    padding: 8px;
    outline: none;
}

.settings-app .titlebar .icon.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.settings-app .titlebar .icon i {
    font-size: 11px;
    transition: all 0.1s ease-in-out;
    margin-left: 16px;
}

.settings-app .titlebar .icon.unused {
    opacity: 0.5;
    pointer-events: none;
}

.settings-app .titlebar .icon:hover {
    background-color: rgba(0, 0, 0, 0.05);
    outline: none;
}

.settings-app .titlebar .icon:active {
    background-color: rgba(0, 0, 0, 0.04);
    outline: none;
}

.settings-app .titlebar p {
    width: 100%;
}

.settings-app .titlebar .controls {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: start;
}

.settings-app .titlebar .controls .item {
    padding: 10px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.settings-app .titlebar .controls .item i {
    transition: all 0.08s ease-in-out;
}

.settings-app .titlebar .controls .item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.settings-app .titlebar .controls .item:active {
    background-color: rgba(0, 0, 0, 0.04);
}

.settings-app .titlebar .controls .item.danger:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.settings-app .titlebar .controls .item.danger:hover i {
    color: #fff;
}

.settings-app .titlebar .controls .item.danger:active i {
    color: #fff;
}

.settings-app .titlebar .controls .item i {
    font-size: 10px;
}

.settings-app .body {
    display: flex;
    height: 100%;
}

.settings-app .sidebar {
    width: 30%;
}

.settings-app .content {
    width: 70%;
}

@keyframes scale {
    from {
        opacity: 0;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

/*
    Screen size stuff
*/

@media screen and (max-width: 900px),
screen and (max-height: 350px) {
    .overlay {
        display: flex;
    }
}